@import url(//fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,800,700,900);
html{
	font-family: raleway;
	background-color: rgb(250,250,250);
}
#uploadfile_input{
	
}
#top{
	font-size: 50px;
	font-style: italic;
}
#lab{
	font-size: 30px;
}

.button{
	float:left;
	background-color: lightgray;
	margin-right: 10px;
 	border:none;
 	height: 40px;
 	width: 150px;
	cursor: pointer;
	font-size: 20px;
	/*-webkit-transform: translate(0%, 50%);*/
	/*padding-bottom: 13px;*/
	text-align: center;
	display: inline-block;
	-webkit-transition: background-color 0.3s, box-shadow 0.3s;
}
.button:hover{
	background-color: rgb(200,200,200);
	/*Source: https://www.w3schools.com/css/css3_buttons.asp*/
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}